/* Global Rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    min-height:100dvh;
    display:flex;
    font-family: "Roboto" , system-ui, sans-serif;
}

/* Main Styling */

/* SideBar */

.sideBar{
    width: 25%;
    min-height: 100%;
    background: #1c94d3;
    color: white;
    fill: white;
    transition: 1s;
    padding: 15px;
}

.sideBar.closed h1{
    display:none;
}
.sideBar.closed{
    width: 70px;
    padding:15px 10px;
}
.sideBar.closed nav{
    transition:1s;
    margin-left: 100px;
}
.sideBar > .title{
    display:flex;
    gap: 10px;
    font-size: .8rem;
    align-items: center;
    svg{
        width: 45px;
    }
}
.sideBar nav {
    margin-top: 40px;
    list-style:none;
}
.sideBar nav ul li{
    display:flex;
    align-items: center;
    gap: 23px;
    padding: 8px 10px;
    margin: 5px 0;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 300ms;
    user-select: none;
    svg{
        width: 22px;
    }
}
.sideBar nav ul li:hover{
    background-color: rgb(255,255,255,0.4);
}
.sideBar nav ul li.lastGeneralItem{
    margin-top: 50px;
}


.content{
    flex: 100%;
    background:#e2e8f0;
    transition: 1s;
}


/* Header */
.content .header{
    padding: 10px 30px;
    box-shadow: 0 0 20px #999;
    background: white;
}


.header .searchPanel{
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 10px;
}

.header .searchPanel .search{
    display:flex;
    align-items: center;
    gap: 20px;
    svg{
        width: 25px;
    }
}
.header .searchPanel .search input{
    border:none;
    width: 100%;
    border-radius: 50vw;
    background:#e2e8f0;
    padding: 5px 10px;
    outline: transparent;
    caret-color: beige;
}

.header .searchPanel .profile{
    justify-self: end;
    display:flex;
    gap: 30px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    svg{
        width: 20px;
    }
}
.header .searchPanel .profile img{
    border-radius: 50vw;
    width: 40px;
}

.header .welcomePanel{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10px 15px 10px;
}
.header .welcomePanel .profilePreview{
    display:flex;
    gap:10px;
    font-weight: bold;
    align-items: center;
}
.header .welcomePanel .profilePreview img{
    width: 60px;
}
.header .profilePreview > img{
    border-radius: 50vw;
}
.header .profilePreview .text .userName{
    font-size: 1.5rem;
}
.header .welcomePanel .quickActions button{
    padding: 10px 15px;
    font-size: 1rem;
    border:none;
    color: white;
    font-weight: bold;
    width: 100px;
    /* text-align: center; */
    border-radius: 50vw;
    background:#1992d4;
    transition: 300ms ease-in-out;
    margin: 0 8px;
}
.header .welcomePanel .quickActions button:hover{
    border: solid 1px #1992d4;
    background: white;
    color: #1992d4;
    
}

/* Main Content "Projects" */

.projectsPanel{
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 15px;
    gap: 30px;
}
.projectsPanel .projects,  .announcements ,  .trending{
    position:relative;
    margin-top: 30px;
}
.projectsPanel .projects::before,  .announcements::before ,  .trending::before{
    top: -40px;
    font-size: 1.1rem;
    margin: 5px 0;
    display:block;
    font-weight: 500;
    content: "mainTitle";
    position: absolute;
}

.projectsPanel .projects{
    grid-row: 1 / -1;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
}
.projectsPanel .projects::before{
    content:"Your Projects"
}
.projectsPanel .projects .box-project{
    padding: 30px 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-left:#f0b835 solid 8px;
    border-radius: 5px;
    background:white;
        box-shadow: 0 0 5px #999;

}
.projects .box-project .title{
    font-size: 1.2rem;
    font-weight:bold;
    margin: 5px 0;
}
.projects .box-project p{
    color: rgb(0,0,0,0.7);
}
.projects .box-project .reactions{
    margin-left: auto;
    width: fit-content;
}
.projects .box-project .reactions button{
    border:none;
    background:white;
    appearance: none;
    margin: 0 10px;
    transition: 300ms;
    svg{
        width: 23px;
    }
}
.projects .box-project .reactions button:hover{
    transform: scale(1.2);
}

/* News Panel */
 .announcements::before{
    content: "Announcements"
}
 .announcements .container{
    padding: 25px 30px;
    background:white;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
}
 .announcements .container .row{
    border-bottom: solid 1px grey;
    padding: 10px 0;
}
 .container .row .title{
    font-size: .9rem;
    font-weight:bold;
    margin: 2px 0;
}
 .container .row p{
    font-size: 14px;
    color: #a2a2a2;
}

 .trending::before{
    content: "Trending";
}
 .trending{
    align-self: end;
}
 .trending .container{
    padding: 20px;
    background:white;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;   
}
 .trending .row{
    display: flex;
    align-items:center;
    gap: 10px;
}
 .trending .row:not(:last-child){
    margin-bottom: 15px;

}
 .row img{
    width:45px;
    border-radius: 50vw;
}
 .trending .row p{
    color: #a2a2a2;
}

